@model Isodoc.Web.Models.Document

@{
    ViewData["Title"] = "Novo Documento";
}

<h1>Novo Documento</h1>

<h4>Documento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    <option>Procedimento</option>
                    <option>Política</option>
                    <option>Instrução</option>
                    <option>Manual</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option>Rascunho</option>
                    <option>Em Revisão</option>
                    <option>Aprovado</option>
                    <option>Obsoleto</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
